### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Java ###
*.class
*.jar
*.war
*.ear
*.iml
*.iws
*.ipr

### Spring Boot ###
logs/
*.log
*.pid
*.seed
*.out

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.project
.classpath
.settings/
bin/

### VS Code ###
.vscode/

### OS files ###
.DS_Store
Thumbs.db

### Env ###
*.env
